@using System.Globalization
@model Domain.Code.Time.Day

@{ var count = Model.CostItems.Count; }
@if (count == 0)
{
    <tr>
        @using (@Html.BeginForm("AddItem", "Wallet"))
        {
            <td>@Model.Date.Day</td>
            <td>@Model.Name</td>
            <td>@Html.TextBox("Name", "")</td>
            <td>@Html.TextBox("Price")</td>
            <td>@Html.TextBox("TagNames")</td>
            @Html.Hidden("Date", Model.Date)
            <td><input type="submit" value="Add" /></td>
            <td></td>
        }
    </tr>
}
else
{
    <tr>
        @{ var tempCount = count + 1; }
        <td rowspan="@tempCount">@Model.Date.Day</td>
        <td rowspan="@tempCount">@Model.Name</td>
        @using (@Html.BeginForm("UpdateItem", "Wallet"))
        {
            <td>@Html.TextBox("Name", @Model.CostItems[0].Name)</td>
            <td>@Html.TextBox("Price", @Model.CostItems[0].Price.ToString(CultureInfo.InvariantCulture))</td>
            <td>@{ var temp = Model.CostItems[0].TagNames.Count > 0 ? Model.CostItems[0].TagNames[0] : ""; }@Html.TextBox("TagNames", @temp)</td>
            <td><input type="submit" value="Update" /></td>
        }
        @using (@Html.BeginForm("DeleteItem", "Wallet"))
            {
                @Html.Hidden("id", Model.CostItems[0].Id)
                <td><input type="submit" value="Delete" /></td>
            }         
    </tr>
    for (int i = 1; i < count; i++)
    {
        <tr>
            
            @using (@Html.BeginForm("UpdateItem", "Wallet"))
            {
            <td>@Html.TextBox("Name", @Model.CostItems[i].Name)</td>
            <td>@Html.TextBox("Price", @Model.CostItems[i].Price.ToString(CultureInfo.InvariantCulture))</td>
            <td>@{ var temp = Model.CostItems[0].TagNames.Count > 0 ? Model.CostItems[0].TagNames[0] : ""; }@Html.TextBox("TagNames", @temp)</td>
            <td><input type="submit" value="Update" /></td>
            }
            @using (@Html.BeginForm("DeleteItem", "Wallet"))
            {
                @Html.Hidden("id", Model.CostItems[i].Id)
                <td><input type="submit" value="Delete" /></td>
            }
        </tr>
    }
    <tr>
        @using (@Html.BeginForm("AddItem", "Wallet"))
        {
            <td>@Html.TextBox("Name", "")</td>
            <td>@Html.TextBox("Price")</td>
            <td>@Html.TextBox("TagNames")</td>
            @Html.Hidden("Date", Model.Date)
            <td><input type="submit" value="Add" /></td>
            <td></td>
        }
    </tr>
}


        



        
                  
    
