@model Domain.Code.Time.Month

<div>
    <p>@Model.Name</p>
    <p>@Model.MonthNumber</p> 
    <table>
        @foreach (var day in Model.Days)
        {
            if (day.CostItems.Count == 0)
            {
                <tr>
                    <td>@day.Date.Day</td>
                    <td>@day.Name</td>
                    <td>@Html.TextBox("CostItemName")</td>
                    <td>@Html.TextBox("Price")</td>
                </tr>
            }
            else
            {
                var count = day.CostItems.Count;
                <tr>
                    <td rowspan="@count">@day.Date.Day</td>
                    <td rowspan="@count">@day.Name</td>
                    <td>@day.CostItems[0].Name</td>
                    <td>@day.CostItems[0].Price</td>
                </tr>
                for (int i = 1; i < count; i++)
                {
                    <tr>
                        <td>@day.CostItems[i].Name</td>
                    <td>@day.CostItems[i].Price</td>
                    </tr>
                }

            }
        }
    </table>
</div>