@model Domain.Code.Time.Month
@section featured {
    <div>
        <p>@Model.ThisYear</p>
        <p>@Model.Name</p>
        <p>@Model.MonthNumber</p> 
        <div>
            @Html.ActionLink("Prev", "PrevMonth", new {currentMonth = new DateTime(@Model.ThisYear, @Model.MonthNumber, 1)})
            @Html.ActionLink("Next", "NextMonth", new {currentMonth = new DateTime(@Model.ThisYear, @Model.MonthNumber, 1)})
        </div>
        <div>
            @foreach (var day in Model.Days)
            {
                Html.RenderPartial("DayInDiv", day);
            }
        </div>
    </div>
}