@model Domain.Code.General.CostItem

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>WalletInspector</title>
    </head>
    <body>
        <div>
            <div>
                <span>Item</span>
                @using (@Html.BeginForm("AddItem", "Home"))
                {
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>@Html.TextBoxFor(m=>m.Name)</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>@Html.TextBoxFor(m=>m.Price)</td>
                        </tr>
                        <tr>
                            <td>Tags</td>
                            <td>@Html.TextBoxFor(m=>m.TagNames)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Отправить" /></td>
                        </tr>
                    </table>
                }
            </div>
            <div>
                @Html.ActionLink("Month", "Month", "Wallet")
            </div>
        </div>
    </body>
</html>